# Ignoruj foldery budowania IntelliJ dla wszystkich projektów
**/out/
**/.idea/
**/*.iml

# Ignoruj foldery budowania Maven / Gradle (jeśli będziesz ich używać)
**/target/
**/.gradle/
**/build/

# Systemowe
.DS_Store
Thumbs.db